.traffic-detail {
  overflow: hidden;
  .detail-wrap {
    .px2rem(margin-top, 90);
    .px2rem(height, 397);
    .px2rem(font-size, 24);
    font-weight: 400;
    .title {
      .px2rem(padding-left, 30);
      .px2rem(height, 75);
      .px2rem(line-height, 75);
      color: #7F8694;
    }
    .detail-list {
      .px2rem(padding-top, 13);
      .px2rem(min-height, 322);
      background-color: #fff;
      box-sizing: border-box;
      li {
        .px2rem(padding-left, 30);
        .px2rem(padding-right, 30);
        .px2rem(padding-top, 13);
        .px2rem(padding-bottom, 13);
        span {
          display: inline-block;
          &.key {
            .px2rem(width, 170);
            text-align: left;
            color: #7F8694;
            vertical-align: top;
          }
          &.value {
            .px2rem(width, 520);
            text-align: right;
            color: #333;
          }
        }
      }
    }
  }
  .person-trail {
    position: relative;
    height: calc(100% - 5.29333333rem - 1rem);
    .title {
      .px2rem(padding-left, 30);
      .px2rem(height, 75);
      .px2rem(line-height, 75);
      color: #7F8694;
    }
    .trail-list {
      box-sizing: border-box;
      background-color: #fff;
      .trail-list-item {
        .px2rem(padding-left, 30);
        .px2rem(padding-right, 30);
        .px2rem(height, 88);
        .px2rem(font-size, 22);
        font-weight: 400;
        border-bottom: 1px solid #eee;
        color: #333;
        .left {
          float: left;
          width: 35%;
          &.time {
            height: 100%;
            .px2rem(line-height, 88);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        .right {
          float: right;
          width: 65%;
          &.device {
            height: 100%;
            .px2rem(line-height, 38);
            text-align: right;
            .area {
              .px2rem(height, 38);
              .px2rem(padding-top, 8);
              width: 100%;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            .name {
              .px2rem(font-size, 20);
              color: #999;
              width: 100%;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
      }
    }
    .load-more {
      //.px2rem(margin-top, 20);
      .px2rem(height, 200);
      .px2rem(line-height, 120);
      .px2rem(font-size, 22);
      color: #999;
      text-align: center;
      background-color: #f4f5f9;
    }
    .no-data {
      .px2rem(padding-top, 197);
      text-align: center;
      background-color: #f4f5f9;
      img {
        .px2rem(width, 216);
        .px2rem(height, 206);
      }
      .text {
        .px2rem(margin-top, 46);
        color: #999;
        font-weight: 400;
        .px2rem(font-size, 24);
      }
    }
  }
}
