<template>
  <div class="traffic-detail child-page">
    <loading :loading="loading"></loading>
    <div class="header" ref="header">
      <div class="back" @click="back"><img src="../../../../../assets/icons/icon-return@2x.png" class="icon-back">通行信息</div>
    </div>
    <div class="detail-wrap">
      <div class="title">布控详情</div>
      <ul class="detail-list">
        <li><span class="key">布控联系人：</span><span class="value">{{dataList.personLinkman}}</span></li>
        <li><span class="key">布控单位：</span><span class="value">{{dataList.personOrgname}}</span></li>
        <li><span class="key">联系电话：</span><span class="value">{{dataList.personLinkphone}}</span></li>
        <li><span class="key">布控原因：</span><span class="value">{{dataList.memo}}</span></li>
        <li><span class="key">联系人地址：</span><span class="value">{{dataList.personLinkaddress}}</span></li>
        <li><span class="key">赏金：</span><span class="value">{{dataList.personWantedReward}}元</span></li>
      </ul>
    </div>
    <!--人员轨迹-->
    <div class="person-trail">
      <div class="title">
        人员轨迹
      </div>
      <scroll v-show="crossData"
              style="top: 1rem;"
              class="wrapper clearfix"
              ref="wrapper"
              :probeType="3"
              :listenScroll="true"
              :pullup="pullup"
              :data="crossData">
        <ul class="trail-list">
          <li class="trail-list-item clearfix" v-for="(item, index) in crossData" :key="index">
            <div class="left time">{{item.passTime}}</div>
            <div class="right device">
              <p class="area">{{item.placeName}}</p>
              <p class="name">{{item.face_terminal_name}}</p>
            </div>
          </li>
          <div class="load-more" @click="loadMore(page + 1)" v-show="page">点击加载</div>
          <div class="load-more" v-show="!page && crossData.length">没有更多了～</div>
          <!--无数据时显示-->
          <div class="no-data" v-show="!crossData.length">
            <img src="../../../../../assets/images/image_no-data-3@2x.png">
            <p class="text">未查到信息</p>
          </div>
        </ul>
      </scroll>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import TrafficDetail from './TrafficDetail.js'
export default TrafficDetail
</script>

<style lang="less">
@import "../../../../../assets/px2rem.less";
@import "../../../Public.less";
@import "./TrafficDetail.less";
</style>
