.comparison-info {
  .bg {
    background: url("../../../assets/images/bg_comparison@2x.png") no-repeat left bottom;
  }
  .top .condition .content .con-info li {
    .px2rem(line-height, 46)!important;
  }
  .bottom .result-list .result-list-item {
    .item-content {
      //.left {
      //  background: none!important;
      //  border: none!important;
      //  //.px2rem(padding-left, 20)!important;
      //  .px2rem(width, 76)!important;
      //  .px2rem(height, 162)!important;
      //  .px2rem(line-height, 162)!important;
      //  .px2rem(font-size, 40)!important;
      //  font-weight: bold;
      //  font-family: "Courier New", Courier, monospace;
      //  color: #D1D6E0;
      //}
      .middle {
        //.px2rem(width, 600);
        margin-left: 0!important;
        ul li {
          .px2rem(line-height, 40)!important;
          span {
            &.name {
              .px2rem(max-width, 180)!important;
            }
          }
        }
      }
      .right {
        top: 0!important;
        margin-top: 0!important;
        height: 100%!important;
        .score {
          position: absolute;
          .px2rem(top, 20);
          right: 0;
          border: 1px solid #F76C18;
          color: #F76C18;
          .px2rem(font-size, 24);
          .px2rem(border-radius, 15);
          .px2rem(width, 90);
          .px2rem(height, 30);
          .px2rem(line-height, 30);
          text-align: center;
        }
        .vux-x-icon {
          position: absolute;
          top: 50%;
          .px2rem(margin-top, -30);
        }
      }
    }
  }
}
