<template>
  <div class="comparison-info child-page">
    <loading :loading="loading"></loading>
    <div class="header" ref="header">
      <div class="back" @click="back"><img src="../../../assets/icons/icon-return@2x.png" class="icon-back">比对信息</div>
    </div>
    <!-- 滚动组件 -->
    <scroll v-show="dataList"
            class="wrapper clearfix"
            ref="wrapper"
            :probeType="3"
            :listenScroll="true"
            :pullup="pullup"
            :data="dataList">
      <div class="scroll-content">
        <div class="top" ref="top">
          <div class="condition">
            <div class="content">
              <ul class="con-info">
                <li>{{searchData.personCardNum}}</li>
                <li>查缉地点：{{searchData.place}}</li>
                <li>比对类型：{{searchData.mode}}</li>
                <li>通行时间：{{searchData.startTime}}<span v-show="searchData.startTime&&searchData.endTime">～</span>{{searchData.endTime}}</li>
              </ul>
            </div>
            <div class="bg"></div>
          </div>
        </div>
        <div class="bottom">
          <ul class="content">
            <li>
              <!-- 结果列表 -->
              <ul class="result-list">
                <li v-for="(item, index) in dataList" :key="index" @click="toChildPage(item)" class="result-list-item">
                  <div class="item-content">
                    <!--<div class="left">{{ index+1 }}</div>-->
                    <div class="middle info-wrap">
                      <ul>
                        <li><span class="name">{{item.verifyPersonName}}</span><span
                          class="sex">{{item.personSexName}}<span
                          v-show="item.personSexName&&item.personRaceName">/</span>{{item.personRaceName}}</span></li>
                        <li>比对类型：<span v-if="item.verifyMode === 0">身份证比对</span><span v-else-if="item.verifyMode === 1">图像比对</span></li>
                        <li>{{item.verifyPersonCardnum}}</li>
                        <li>比对时间：{{item.verifyTime}}</li>
                      </ul>
                    </div>
                    <div class="right">
                      <div class="score">{{item.verifyScore}}%</div>
                      <x-icon type="ios-arrow-right" size="30"></x-icon>
                    </div>
                  </div>
                </li>
                <div class="load-more" @click="loadMore(page + 1)" v-show="page">点击加载</div>
                <div class="load-more" v-show="!page && dataList.length">没有更多了～</div>
                <!--无数据时显示-->
                <div class="no-data" v-show="!dataList.length">
                  <img src="../../../assets/images/image_no-data-3@2x.png">
                  <p class="text">未查到信息</p>
                </div>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </scroll>
    <!-- 路由 -->
    <router-view></router-view>
  </div>
</template>

<script type="text/ecmascript-6">
import ComparisonInfo from './ComparisonInfo.js'
export default ComparisonInfo
</script>

<style lang="less">
@import "../../../assets/px2rem.less";
@import "../Public.less";
@import "./ComparisonInfo.less";
</style>
