.comparison-survey {
  .wrapper {
    background-color: #fff;
    .top {
      .px2rem(height, 380)!important;
      .condition {
        .px2rem(height, 280)!important;
        .pic-wrap {
          display: inline-block;
          .px2rem(margin-right, 40);
          .px2rem(width, 164);
          .px2rem(height, 208);
          .px2rem(border-radius, 4);
          overflow: hidden;
          background: url("../../../../assets/images/default@2x.png") no-repeat left center;
          background-size: 100% 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .con-info {
          .px2rem(width, 480)!important;
          li {
            .px2rem(line-height, 43)!important;
            .name {
              display: inline-block;
              .px2rem(max-width, 240)!important;
              .px2rem(margin-right, 30);
              .px2rem(font-size, 30);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .sex {
              display: inline-block;
              .px2rem(max-width, 200)!important;
              .px2rem(font-size, 22);
              width: auto!important;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            &.addr {
              display: -webkit-box;
              overflow: hidden;
              // 最多显示两行文本，超出则显示省略号
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              word-break: break-all;
            }
          }
        }
      }
    }
    .bottom {
      .result-list {
        padding-left: 0!important;
        padding-right: 0!important;
        margin-top: 0!important;
        padding-bottom: 0!important;
        .result-list-item {
          height: auto!important;
          font-weight: 400;
          margin-bottom: 1px!important;
          .type {
            .px2rem(margin-bottom, 20);
            color: #F76C18;
            .px2rem(font-size, 26);
          }
          .item-content {
            .middle {
              .px2rem(margin-left, 45)!important;
              ul {
                li {
                  .px2rem(height, 34)!important;
                  .px2rem(line-height, 34)!important;
                  span {
                    display: inline-block;
                    &.name {
                      margin-right: auto!important;
                      width: auto;
                      .px2rem(font-size, 24)!important;
                      color: #7F8694!important;
                      overflow: inherit!important;
                      vertical-align: top;
                    }
                    &.value {
                      text-align: left;
                      color: #333;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      &.link-man {
                        .px2rem(width, 355);
                      }
                      &.len-400 {
                        .px2rem(width, 380);
                      }
                      &.addr {
                        overflow: auto;
                        white-space: normal;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
