<template>
  <div class="comparison-survey child-page">
    <loading :loading="loading"></loading>
    <!-- :style="{backgroundColor: headerBg}"-->
    <div class="header" ref="header">
      <div class="back" @click="back"><img src="../../../../assets/icons/icon-return@2x.png" class="icon-back">比对信息</div>
    </div>
    <!-- 滚动组件 -->
    <!--@scroll="scrollHandle"-->
    <div class="wrapper clearfix">
      <div class="scroll-content">
        <div class="top" ref="top">
          <div class="condition">
            <div class="content">
              <div class="pic-wrap">
                <img :src="passcord.passPic">
              </div>
              <ul class="con-info">
                <li><span class="name">{{passcord.passPersonName}}</span><span
                  class="sex">{{passcord.personSexName}}<span
                  v-show="passcord.personSexName&&passcord.personRaceName">/</span>{{passcord.personRaceName}}</span></li>
                <li>查缉地点：{{passcord.placeName}}</li>
                <li>比对类型：<span v-if="searchData.veryfiMode === 0">身份证比对</span><span v-else-if="searchData.veryfiMode === 1">图像比对</span></li>
                <li>{{passcord.passPersonCardnum}}</li>
                <li class="addr">地址：{{passcord.passPersonAddress}}</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="bottom">
          <ul class="content">
            <li>
              <!--人像记录列表-->
              <ul class="result-list">
                <li class="result-list-item">
                  <div class="type">[布控信息]</div>
                  <div class="item-content">
                    <div class="left pic-wrap">
                      <img :src="moniInfo.personPhoto">
                      <div class="pic-name">布控照</div>
                    </div>
                    <div class="middle info-wrap">
                      <ul>
                        <li><span class="name">布控联系人：</span><span class="value link-man">{{moniInfo.personLinkman}}</span></li>
                        <li><span class="name">布控单位：</span><span class="value len-400">{{moniInfo.personOrgname}}</span></li>
                        <li><span class="name">联系电话：</span><span class="value len-400">{{moniInfo.personLinkphone}}</span></li>
                        <li><span class="name">布控原因：</span><span class="value len-400">{{moniInfo.memo}}</span></li>
                        <li><span class="name">人员类型：</span><span class="value len-400">{{moniInfo.reginCodeName}}</span></li>
                        <li><span class="name">赏&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金：</span><span class="value len-400">{{moniInfo.personWantedReward}}元</span></li>
                        <li><span class="name">联系人地址：</span><span class="value addr link-man">{{moniInfo.personLinkaddress}}</span></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <!--<div class="load-more">点击加载</div>-->
                <!--无数据时显示-->
                <!--<div class="no-data">-->
                  <!--<img src="../../../../assets/images/image_no-data-2@2x.png">-->
                  <!--<p class="text">未查到信息</p>-->
                <!--</div>-->
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import ComparisonSurvey from './ComparisonSurvey.js'
export default ComparisonSurvey
</script>

<style lang="less">
@import "../../../../assets/px2rem.less";
@import "../../Public.less";
@import "ComparisonSurvey.less";
</style>
