@cube-size: 10px;
.better-scroll-root {
  //background-color: rgba(7, 17, 27, 0.7);
  .loading-pos, .pulldown-tip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 35px;
    color: #333;
    text-align: center;
    z-index: 2000;
  }
  .loading-pos {
    background-color: rgba(7, 17, 27, 0.7);
  }
  .pulldown-tip {
    top: -50px;
    height: 50px;
    line-height: 50px;
    z-index: 1;
  }
  .pull-icon {
    position: absolute;
    top: 0;
    left: 30%;
    color: #a5a1a1;
    font-size: 1.5em;
    transition: all 0.15s ease-in-out;
  }
  .pull-icon.icon-rotate {
    transform:rotate(180deg);
  }
  .loading-container {
    position: absolute;
    height: @cube-size;
    width: @cube-size;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
    perspective: 40px;
  }
  .loading-connecting {
    line-height: 35px;
  }
  .cube {
    height: @cube-size;
    width: @cube-size;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    animation: rotate 3s infinite ease-in-out;
  }
  .side {
    position: absolute;
    height: @cube-size;
    width: @cube-size;
    border-radius: 50%;
  }
  .side1 {
    background: #4bc393;
    transform: translateZ(@cube-size);
  }
  .side2 {
    background: #FF884D;
    transform: rotateY(90deg) translateZ(@cube-size);
  }
  .side3 {
    background: #32526E;
    transform: rotateY(180deg) translateZ(@cube-size);
  }
  .side4 {
    background: #c53fa3;
    transform: rotateY(-90deg) translateZ(@cube-size);
  }
  .side5 {
    background: #FFCC5C;
    transform: rotateX(90deg) translateZ(@cube-size);
  }
  .side6 {
    background: #FF6B57;
    transform: rotateX(-90deg) translateZ(@cube-size);
  }

  @keyframes rotate {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: rotateX(360deg) rotateY(0deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }

  .pullup-tip {
    position: absolute;
    .px2rem(bottom, -100);
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    z-index: 1;
    color: #333;
    text-align: center;
  }
  .icon-pull-up {
    position: absolute;
    left: 50%;
    .px2rem(bottom, -20);
    margin-left: -14px;
  }
}
