<template>
  <div class="better-scroll-root" ref="wrapper">
    <div class="content-bg better-scroll-container">
      <div>
        <div class="pulldown-tip">
          <i class="pull-icon indexicon icon-pull-down" :class="[pulldownTip.rotate]"></i>
          <span class="tip-content">{{ pulldownTip.text }}</span>
        </div>
        <div v-show="loadingStatus.showIcon || loadingStatus.status" class="loading-pos">
          <div v-show="loadingStatus.showIcon" class="loading-container">
            <div class="cube">
              <div class="side side1"></div>
              <div class="side side2"></div>
              <div class="side side3"></div>
              <div class="side side4"></div>
              <div class="side side5"></div>
              <div class="side side6"></div>
            </div>
          </div>
          <span class="loading-connecting">{{ loadingStatus.status }}</span>
        </div>
      </div>
      <slot></slot>

      <!--<div class="pullup-tip">-->
        <!--<span class="tip-content">{{ pullupTip.text }}</span>-->
        <!--<spinner class="icon-pull-up" type="ripple"></spinner>-->
        <!--&lt;!&ndash;<i class="pull-icon indexicon icon-pull-up" :class="[pullupTip.rotate]"></i>&ndash;&gt;-->
      <!--</div>-->
    </div>
  </div>
</template>

<script>
import Scroll from './Scroll.js'
export default Scroll
</script>

<style lang="less" rel="stylesheet/less">
@import "../../assets/px2rem.less";
@import "./Scroll.less";
</style>
