<template>
  <div class="tab-bar">
    <tabbar>
      <tabbar-item :selected="$route.name === 'person'" link="/">
        <img slot="icon" src="../../assets/icons/icon_person_hui@2x.png">
        <img slot="icon-active" src="../../assets/icons/icon_person_lan@2x.png">
        <span slot="label">人像查询</span>
      </tabbar-item>
      <tabbar-item :selected="$route.name === 'search'" link="/search">
        <img slot="icon" src="../../assets/icons/icon_search_hui@2x.png">
        <img slot="icon-active" src="../../assets/icons/icon_search_lan@2x.png">
        <span slot="label">智搜</span>
      </tabbar-item>
      <tabbar-item :selected="$route.name === 'user'" link="/user">
        <img slot="icon" src="../../assets/icons/icon_user_hui@2x.png">
        <img slot="icon-active" src="../../assets/icons/icon_user_lan@2x.png">
        <span slot="label">我的</span>
      </tabbar-item>
    </tabbar>
  </div>
</template>

<script type="text/ecmascript-6">
import TabBar from './TabBar.js'
export default TabBar
</script>

<style lang="less">
@import "./TabBar.less";
</style>
