.tab-bar {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  .weui-tabbar {
    background-color: #fff;
    box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.2);
    &:before {
      border-top: 0;
    }
    .weui-tabbar__item {
      .weui-tabbar__icon {
        width: 26px;
        height: 26px;
      }
      .weui-tabbar__label {
        font-size: 11px;
        font-weight: 500;
      }
      &.weui-bar__item_on {
        .weui-tabbar__label {
          color: #5884D6;
        }
      }
    }
  }
}
