.history-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f5f9;
  z-index: 999;
  .header {
    position: fixed;
    width: 100%;
    .px2rem(height, 90);
    background-color: rgba(95, 140, 214, 1);
    z-index: 999;
    color: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    .back {
      position: absolute;
      .px2rem(top, 30);
      .px2rem(left, 30);
      .px2rem(height, 36);
      .px2rem(line-height, 36);
      .px2rem(font-size, 28);
      .icon-back {
        vertical-align: top;
        .px2rem(width, 21);
        .px2rem(margin-right, 24);
        height: 100%;
      }
    }
  }
  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    .scroll-content {
      position: relative;
      .top {
        .px2rem(height, 410);
        background: #5f8cd6 url("../../assets/images/bg-detail@2x.png") no-repeat left bottom;
        background-size: 93% 78%;
        color: #fff;
        z-index: 998;
        .condition {
          position: absolute;
          .px2rem(top, 125);
          left: 0;
          .px2rem(padding-left, 30);
          .px2rem(padding-right, 30);
          .px2rem(padding-bottom, 20);
          width: 100%;
          .px2rem(height, 285);
          box-sizing: border-box;
          .title {
            .px2rem(font-size, 22);
          }
          .content {
            .px2rem(margin-top, 27);
            font-size: 0;
            .pic-wrap {
              display: inline-block;
              .px2rem(margin-right, 40);
              .px2rem(width, 164);
              .px2rem(height, 208);
              .px2rem(border-radius, 4);
              overflow: hidden;
              background: url("../../assets/images/default@2x.png") no-repeat left center;
              background-size: 100% 100%;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .con-info {
              display: inline-block;
              .px2rem(width, 486);
              .px2rem(font-size, 24);
              vertical-align: top;
              li {
                .px2rem(line-height, 54);
                .name {
                  display: inline-block;
                  .px2rem(max-width, 300);
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  vertical-align: top;
                }
                .sex {
                  .px2rem(margin-left, 70);
                }
                &.region {
                  display: -webkit-box;
                  overflow: hidden;
                  // 最多显示两行文本，超出则显示省略号
                  -webkit-line-clamp: 2;
                  /*! autoprefixer: off */
                  -webkit-box-orient: vertical;
                  /* autoprefixer: on */
                  word-break: break-all;
                }
              }
            }
          }
        }
      }
      .bottom {
        .result-list {
          .px2rem(padding-left, 30);
          .px2rem(padding-right, 30);
          .px2rem(padding-bottom, 20);
          .result-list-item {
            position: relative;
            .px2rem(padding, 20);
            .px2rem(margin-top, 20);
            .px2rem(height, 260);
            .px2rem(border-radius, 8);
            background-color: #fff;
            box-sizing: border-box;
            .type {
              .px2rem(margin-bottom, 20);
              color: #F76C18;
              .px2rem(font-size, 26);
            }
            .item-content {
              display: flex;
              flex-direction: row;
              box-sizing: border-box;
              .left {
                .px2rem(width, 140);
                .px2rem(height, 176);
                border-radius: 4px;
                box-sizing: border-box;
                border: 1px solid #999;
                overflow: hidden;
                background: url("../../assets/images/default@2x.png") no-repeat center;
                background-size: cover;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              .middle {
                .px2rem(margin-left, 45);
                ul {
                  .px2rem(margin-top, 16);
                  .px2rem(font-size, 24);
                  color: #7F8694;
                  li {
                    .px2rem(line-height, 50);
                    span {
                      display: inline-block;
                      &.name {
                        .px2rem(max-width, 170);
                        .px2rem(margin-right, 30);
                        .px2rem(font-size, 30);
                        color: #333;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                      }
                      &.sex {
                        .px2rem(max-width, 120);
                        .px2rem(font-size, 22);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                      }
                    }
                  }
                }
              }
              .right {
                position: absolute;
                top: 50%;
                .px2rem(right, 20);
                .px2rem(margin-top, -50);
                .px2rem(width, 100);
                .px2rem(height, 100);
              }
            }
          }
          .load-more {
            .px2rem(margin-top, 20);
            .px2rem(line-height, 80);
            .px2rem(font-size, 22);
            color: #999;
            text-align: center;
          }
          .no-data {
            .px2rem(padding-top, 197);
            text-align: center;
            img {
              .px2rem(width, 216);
              .px2rem(height, 206);
            }
            .text {
              .px2rem(margin-top, 46);
              color: #999;
              font-weight: 400;
              .px2rem(font-size, 24);
            }
          }
        }
      }
    }
  }
  .dialog-detail {
    width: 100%;
    height: 100%;
    .weui-dialog {
      width: 80%;
      max-width: none;
      //.px2rem(width, 594);
      .px2rem(height, 810);
      .details {
        position: relative;
        .pic-wrap {
          position: absolute;
          left: 50%;
          .px2rem(top, 49);
          .px2rem(margin-left, -70);
          .px2rem(width, 140);
          .px2rem(height, 176);
          .px2rem(border-radius, 4);
          overflow: hidden;
          background: url("../../assets/images/default@2x.png") no-repeat left center;
          background-size: 100% 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .type {
          position: absolute;
          left: 0;
          .px2rem(top, 253);
          .px2rem(font-size, 26);
          color: #F76C18;
          width: 100%;
          text-align: center;
        }
        .info-list {
          position: absolute;
          left: 0;
          .px2rem(top, 296);
          .px2rem(height, 434);
          .px2rem(padding-bottom, 2);
          .px2rem(padding-left, 50);
          .px2rem(padding-right, 50);
          .px2rem(font-size, 24);
          box-sizing: border-box;
          width: 100%;
          background-color: #f5f5f5;
          color: #222;
          overflow-y: auto;
          li {
            border-bottom: 1px solid #e2e2e2;
            .px2rem(line-height, 80);
            span {
              display: inline-block;
              &.name {
                width: 30%;
                text-align: left;
                vertical-align: top;
              }
              &.value {
                width: 70%;
                text-align: right;
              }
            }
          }
        }
      }
      .submit-btn {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        .px2rem(height, 80);
        .px2rem(line-height, 80);
        .px2rem(font-size, 26);
        background-color: #5884D6;
        color: #fff;

      }
    }
  }
}

