.traffic-info {
  .bg {
    background: url("../../../assets/images/bg_traffic@2x.png") no-repeat left bottom;
  }
  .top .condition .content .con-info li {
    .px2rem(line-height, 46)!important;
  }
  .bottom .result-list .result-list-item {
    .px2rem(height, 246)!important;
    .item-content .middle ul li {
      .px2rem(line-height, 38)!important;
    }
  }
}
