<template>
  <div class="traffic-survey child-page">
    <loading :loading="loading"></loading>
    <!-- :style="{backgroundColor: headerBg}"-->
    <div class="header" ref="header">
      <div class="back" @click="back"><img src="../../../../assets/icons/icon-return@2x.png" class="icon-back">通行信息</div>
    </div>
    <!-- 滚动组件 -->
    <scroll v-show="dataList"
            class="wrapper clearfix"
            ref="wrapper"
            :probeType="3"
            :listenScroll="true"
            :pullup="pullup"
            :data="dataList">
      <div class="scroll-content">
        <div class="top" ref="top">
          <div class="condition">
            <div class="content">
              <div class="pic-wrap">
                <img :src="searchData.passPic">
              </div>
              <ul class="con-info">
                <li><span class="name">{{searchData.passPersonName}}</span><span
                  class="sex">{{searchData.personSexName}}<span
                  v-show="searchData.personSexName&&searchData.personRaceName">/</span>{{searchData.personRaceName}}</span></li>
                <li>{{searchData.passPersonCardnum}}</li>
                <li>查缉地点：{{searchData.placeName}}</li>
                <li class="addr">地址：{{searchData.passPersonAddress}}</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="bottom">
          <ul class="content">
            <li>
              <ul class="result-list">
                <li v-for="(item, index) in dataList" :key="index" @click="toChildPage(item)" class="result-list-item">
                  <div class="type">[{{item.reginCodeName}}]</div>
                  <div class="item-content">
                    <div class="left">{{ index+1 }}</div>
                    <div class="middle info-wrap">
                      <ul>
                        <li><span class="name">{{item.verifyPersonName}}</span><span
                          class="sex">{{item.personSexName}}<span
                          v-show="item.personSexName&&item.personRaceName">/</span>{{item.personRaceName}}</span></li>
                        <li>比对类型：<span v-if="item.verifyMode === 0">身份证比对</span><span v-else-if="item.verifyMode === 1">图像比对</span></li>
                        <li>{{item.verifyPersonCardnum}}</li>
                        <li class="addr">地址：{{item.verifyPersonAddress}}</li>
                      </ul>
                    </div>
                    <div class="right">
                      <div class="score" :class="{'full': item.verifyScore >= 90}">{{item.verifyScore}}%</div>
                      <x-icon type="ios-arrow-right" size="30"></x-icon>
                    </div>
                  </div>
                </li>
                <div class="load-more" @click="loadMore(page + 1)" v-show="page">点击加载</div>
                <div class="load-more" v-show="!page && dataList.length">没有更多了～</div>
                <!--无数据时显示-->
                <div class="no-data" v-show="!dataList.length">
                  <img src="../../../../assets/images/image_no-data-2@2x.png">
                  <p class="text">未查到信息</p>
                </div>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </scroll>

    <!--路由-->
    <router-view></router-view>
  </div>
</template>

<script type="text/ecmascript-6">
import TrafficSurvey from './TrafficSurvey.js'
export default TrafficSurvey
</script>

<style lang="less">
@import "../../../../assets/px2rem.less";
@import "../../Public.less";
@import "TrafficSurvey.less";
</style>
