.traffic-survey {
  .top {
    .px2rem(height, 380)!important;
    .condition {
      .px2rem(height, 280)!important;
      .pic-wrap {
        display: inline-block;
        .px2rem(margin-right, 40);
        .px2rem(width, 164);
        .px2rem(height, 208);
        .px2rem(border-radius, 4);
        overflow: hidden;
        background: url("../../../../assets/images/default@2x.png") no-repeat left center;
        background-size: 100% 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .con-info {
        .px2rem(width, 480)!important;
        li {
          .px2rem(line-height, 50)!important;
          .name {
            display: inline-block;
            .px2rem(max-width, 240)!important;
            .px2rem(margin-right, 30);
            .px2rem(font-size, 30);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .sex {
            display: inline-block;
            .px2rem(max-width, 200)!important;
            .px2rem(font-size, 22);
            width: auto!important;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          &.addr {
            display: -webkit-box;
            overflow: hidden;
            // 最多显示两行文本，超出则显示省略号
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-break: break-all;
          }
        }
      }
    }
  }
  .bottom {
    .result-list {
      padding-left: 0!important;
      padding-right: 0!important;
      margin-top: 0!important;
      .result-list-item {
        .px2rem(height, 249)!important;
        margin-bottom: 1px!important;
        .type {
          .px2rem(padding-left, 68);
          .px2rem(margin-bottom, 20);
          color: #F76C18;
          .px2rem(font-size, 26);
        }
        .item-content {
          .left {
            background: none!important;
            border: none!important;
            //.px2rem(padding-left, 20)!important;
            .px2rem(width, 76)!important;
            .px2rem(height, 162)!important;
            .px2rem(line-height, 162)!important;
            .px2rem(font-size, 40)!important;
            font-weight: bold;
            font-family: "Courier New", Courier, monospace;
            color: #D1D6E0;
          }
          .middle {
            .px2rem(width, 630);
            margin-left: 0!important;
            ul {
              li {
                //.px2rem(line-height, 34)!important;
                .px2rem(font-size, 24)!important;
                color: #7F8694!important;
                &.addr {
                  display: -webkit-box;
                  overflow: hidden;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  word-break: break-all;
                }
              }
            }
          }
          .right {
            top: 0!important;
            margin-top: 0!important;
            height: 100%!important;
            .score {
              position: absolute;
              .px2rem(top, 20);
              .px2rem(right, -20);
              border: 1px solid #F76C18;
              border-right-width: 0;
              color: #F76C18;
              .px2rem(font-size, 32);
              .px2rem(border-bottom-left-radius, 50);
              .px2rem(border-top-left-radius, 50);
              .px2rem(width, 120);
              .px2rem(height, 42);
              .px2rem(line-height, 42);
              text-align: center;
              &.full {
                background-color: #F76C18;
                color: #fff;
              }
            }
            .vux-x-icon {
              position: absolute;
              top: 50%;
              .px2rem(margin-top, -30);
            }
          }
        }
      }
    }
  }
}
