<template>
  <div class="person-list">
    <loading :loading="loading"></loading>
    <!-- :style="{backgroundColor: headerBg}"-->
    <div class="header" ref="header">
      <div class="back" @click="back"><img src="../../assets/icons/icon-return@2x.png" class="icon-back">查询</div>
    </div>
    <!-- 滚动组件 -->
    <!--@scroll="scrollHandle"-->
    <scroll v-show="listData"
            class="wrapper clearfix"
            ref="wrapper"
            :probeType="3"
            :listenScroll="true"
            :pullup="pullup"
            :data="listData">
      <div class="scroll-content">
        <div class="top" ref="top">
          <div class="condition">
            <div class="title">查询条件</div>
            <div class="content">
              <div class="pic-wrap">
                <img :src="photoBase64">
              </div>
              <ul class="con-info">
                <li>姓名：<span class="name">{{ searchParams.search.searchName }}</span>
                  <span class="sex">{{ searchParams.search.searchSex }}<span
                    v-show="searchParams.search.searchSex&&searchParams.search.searchRace">/</span>{{ searchParams.search.searchRace }}</span>
                </li>
                <li>{{ searchParams.search.searchCardnum }}</li>
                <li class="region">{{ searchParams.search.searchRegioncode }}</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="bottom">
          <ul class="content">
            <li>
              <!--人像记录列表-->
              <ul class="result-list">
                <li v-for="(item, index) in listData" :key="index" @click="queryDetail(item)" class="result-list-item">
                  <div class="type">[{{item.reginCodeName}}]</div>
                  <div class="item-content">
                    <div class="left pic-wrap">
                      <img :src="item.personPhoto">
                    </div>
                    <div class="middle info-wrap">
                      <ul>
                        <li><span class="name">{{item.personName}}</span><span
                          class="sex">{{item.personSexName}}<span
                          v-show="item.personSexName&&item.personRaceName">/</span>{{item.personRaceName}}</span></li>
                        <li>出生日期：{{item.personBirthday}}</li>
                        <li>{{item.personCardnum}}</li>
                      </ul>
                    </div>
                    <div class="right">
                      <x-circle
                        :percent="item.score"
                        :stroke-width="4"
                        :stroke-color="item.scoreColor"
                        anticlockwise>
                        <span :style="{color: item.scoreColor}">{{ item.score }}%</span>
                      </x-circle>
                    </div>
                  </div>
                </li>
                <div class="load-more" @click="loadMore(page + 1)" v-show="page">点击加载</div>
                <div class="load-more" v-show="!page && listData.length">没有更多了～</div>
                <!--无数据时显示-->
                <div class="no-data" v-show="!listData.length">
                  <img src="../../assets/images/image_no-data-2@2x.png">
                  <p class="text">未查到信息</p>
                </div>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </scroll>

    <!-- 详细信息 -->
    <x-dialog v-model="showToast" class="dialog-detail" hide-on-blur>
      <div class="details">
        <div class="pic-wrap">
          <img :src="detailsData.personPhoto">
        </div>
        <div class="type">[{{detailsData.reginCodeName}}]</div>
        <ul class="info-list">
          <li><span class="name">布控联系人：</span><span class="value">{{detailsData.personLinkman}}</span></li>
          <li><span class="name">布控单位：</span><span class="value">{{detailsData.personOrgname}}</span></li>
          <li><span class="name">联系电话：</span><span class="value">{{detailsData.personLinkphone}}</span></li>
          <li><span class="name">布控原因：</span><span class="value">{{detailsData.memo}}</span></li>
          <li><span class="name">赏金：</span><span class="value">{{detailsData.personWantedReward}}元</span></li>
        </ul>
      </div>
      <div class="submit-btn" @click="closeToast">确定</div>
    </x-dialog>
    </div>
</template>

<script type="text/ecmascript-6">
import PersonList from './PersonList.js'
export default PersonList
</script>

<style lang="less">
@import "../../assets/px2rem.less";
@import "./PersonList.less";
</style>
