.person {
  height: 100%;
  .vux-tab-wrap {
    .px2rem(padding-top, 90);
    .vux-tab-container {
      .px2rem(height, 90);
      .vux-tab {
        .px2rem(height, 90);
        background-color: #5884D6;
        .vux-tab-item {
          .px2rem(line-height, 90);
          .px2rem(font-size, 28);
          font-weight: 500;
          background: none;
        }
        .vux-tab-ink-bar {
          .px2rem(bottom, 6);
        }
      }
    }
  }
  .tab-swiper {
    margin-bottom: 52px;
    height: calc(100% - 1.2rem - 52px);
    overflow-y: auto;
    .tab-swiper-item {
      &.query {
        .px2rem(margin-bottom, 56);
      }
      .upload-wrap {
        .px2rem(height, 380);
        .weui-cells {
          display: flex;
          align-items: center; // 垂直居中
          justify-content: center; // 水平居中
          margin-top: 0;
          height: 100%;
          &:after {
            border-bottom: 0;
          }
        }
        .upload-pic {
          position: relative;
          box-sizing: border-box;
          .px2rem(width, 248);
          .px2rem(height, 320);
          cursor: pointer;
          background: url("../../assets/images/default@2x.png") no-repeat center;
          background-size: cover;
          border: 1px dashed #d9d9d9;
          overflow: hidden;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          .msg {
            position: absolute;
            left: 50%;
            .px2rem(bottom, 78);
            .px2rem(margin-left, -57);
            .px2rem(width, 114);
            .px2rem(height, 44);
            .px2rem(line-height, 44);
            .px2rem(border-radius, 22);
            background: rgba(2,5,10,1);
            box-shadow: 0 4px 10px 0 rgba(0,10,35,0.47);
            color: #fff;
            opacity: 0.6;
            text-align: center;
            font-size: 12px;
          }
          .file {
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            width: 100%;
            height: 100%;
            opacity: 0;
          }
        }
      }
      .weui-cells__title {
        font-size: 12px;
      }
      .top-dis {
        .weui-cells {
          .px2rem(margin-top, 20);
          .weui-label {
            color: #333;
          }
          .vux-datetime {
            color: #333;
          }
          .weui-cell_access {
            .weui-cell__ft {
              .px2rem(max-width, 480);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-weight: 400;
            }
          }
        }
      }
      .btn-box {
        .px2rem(margin-top, 70);
        .weui-btn {
          .px2rem(width, 616);
        }
        .weui-btn_primary {
          background-color: #5884D6;
        }
      }
      &.history {
        .time-cell {
          .px2rem(padding-left, 30);
          .px2rem(padding-right, 30);
          padding-top: 0;
          padding-bottom: 0;
          background-color: #fff;
          .px2rem(height, 90);
          font-size: 14px;
          .weui-cell__ft {
            &:after {
              .px2rem(margin-top, -21);
              .px2rem(right, -16);
              .px2rem(width, 38);
              .px2rem(height, 42);
              background: url("../../assets/icons/icon_date@2x.png") no-repeat left center;
              background-size: contain;
              border: none;
              transform: matrix(1, 0, 0, 1, 0, 0);
            }
          }
        }
        .wrapper{
          width: 100%;
          position:absolute;
          .px2rem(top, 200);
          .px2rem(bottom, 104);
          overflow: hidden;
          z-index: 1;
          .content{
            height:100%;
            .history-list {
              .history-list-item {
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
                .px2rem(padding, 20);
                .px2rem(margin-bottom, 20);
                .px2rem(margin-left, 30);
                .px2rem(margin-right, 30);
                .px2rem(height, 216);
                border-radius: 8px;
                background-color: #fff;
                //&:last-child {
                //  .px2rem(margin-bottom, 100);
                //}
                .pic-wrap {
                  position: relative;
                  .px2rem(height, 176);
                  .px2rem(width, 140);
                  border-radius: 4px;
                  box-sizing: border-box;
                  border: 1px solid #999;
                  overflow: hidden;
                  background: url("../../assets/images/default@2x.png") no-repeat center;
                  background-size: cover;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                  .pic-name {
                    position: absolute;
                    .px2rem(bottom, -1);
                    left: 0;
                    width: 100%;
                    .px2rem(height, 36);
                    .px2rem(line-height, 36);
                    border-radius: 0 0 4px 4px;
                    background-color: rgba(1, 34, 58, .4);
                    color: #fff;
                    text-align: center;
                    font-size: 11px;
                  }
                }
                .info-wrap {
                  .px2rem(width, 320);
                  .main {
                    .px2rem(padding-top, 50);
                    font-size: 15px;
                    font-weight: 400;
                    color: #333;
                    .count {
                      font-size: 16px;
                      color: #F76C18;
                    }
                  }
                  .time {
                    .px2rem(padding-top, 25);
                    font-size: 12px;
                    color: #7F8694;
                    font-weight: 400;
                  }
                }
                .right {
                  .px2rem(line-height, 176);
                  .weui-btn {
                    color: #5884D6;
                    background-color: #fff;
                    overflow: auto;
                    &:after {
                      width: 195%;
                      border: 1px solid #5884D6;
                    }
                  }
                }
              }
            }
            .load-more {
              .px2rem(margin-bottom, 20);
              .px2rem(line-height, 80);
              .px2rem(font-size, 22);
              color: #999;
              text-align: center;
            }
            .no-data {
              .px2rem(padding-top, 335);
              text-align: center;
              img {
                .px2rem(width, 216);
                .px2rem(height, 206);
              }
              .text {
                .px2rem(margin-top, 80);
                color: #999;
                font-weight: 400;
                .px2rem(font-size, 24);
              }
            }
          }
        }
      }
    }
  }
  .vux-cell-value {
    color: black;
  }
}

.vux-popup-header-right {
  color: #5884D6!important;
}

// 人员类型弹出
.region-item {
  background-color: #ddd;
  color: #222;
  font-size: 14px;
  padding: 5px 10px;
  margin-right: 10px;
  line-height: 18px;
  border-radius: 15px;
}
.region-item-selected {
  background-color: #FF3B3B;
  color: #fff;
}
.region-item-disabled {
  color: #999;
}
.self-popup {
  position: relative;
  z-index: 9999;
  box-sizing: border-box;
  .px2rem(height, 564);
  .px2rem(padding-bottom, 20);
  background-color: #fff;
  overflow: hidden;
  .popup-header {
    position: fixed;
    width: 100%;
    .px2rem(height, 88);
    .px2rem(line-height, 88);
    font-size: 16px;
    background-color: #F3F5F7;
    z-index: 9999;
    .cancel-btn {
      position: absolute;
      left: 0;
      top: 0;
      .px2rem(padding-left, 30);
      color: #666666;
      cursor: pointer;
    }
    .submit-btn {
      position: absolute;
      right: 0;
      top: 0;
      .px2rem(padding-right, 30);
      color: #5884D6;
      cursor: pointer;
    }
  }
  &.time-popup {
    position: relative;
    .px2rem(height, 600);
    .popup-content {
      position: absolute;
      .px2rem(top, 88);
      left: 0;
      width: 100%;
      .vux-tab-wrap{
        .px2rem(padding-top, 70);
        .vux-tab-container{
          .px2rem(height, 70);
          .vux-tab {
            .px2rem(height, 70);
            .vux-tab-item {
              .px2rem(line-height, 70);
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  .checker-wrap {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    z-index: 9998;
    .px2rem(padding-top, 90);
    //.px2rem(padding-bottom, 20);
    //.px2rem(padding-left, 20);
    //.px2rem(padding-right, 20);
    .vux-checker-box {
      position: absolute;
      left: 0;
      width: 100%;
      .region-item {
        padding: 5px 23px;
        .px2rem(margin-top, 24);
        .px2rem(margin-right, 20);
        .px2rem(margin-left, 20);
        background-color: inherit;
        border: 1px solid #999;
        color: #222;
        .px2rem(border-radius, 8);
        &.region-item-selected {
          color: #5884D6;
          border-color: #5884D6;
        }
      }
    }
  }
}

.weui-dialog__btn_primary {
  color: #5884D6!important;
}
