<template>
  <div class="person" ref="person">
    <tab :line-width="3"
         custom-bar-width="45px"
         bar-active-color="#fff"
         default-color="#fff"
         active-color="#fff"
         v-model="tabIndex">
      <tab-item
        v-for="(tl, index) in tabList"
        :key="index"
        :selected="index === 0"
        @on-item-click="onItemClick">{{tl.name}}</tab-item>
    </tab>
    <div class="tab-swiper">
      <div v-show="tabIndex === 0" class="tab-swiper-item query">
        <group class="upload-wrap">
          <div class="upload-pic">
            <img v-if="imageUrl !== ''" :src="imageUrl">
            <div v-else class="msg">上传</div>
            <input class="file" name="file" type="file" accept="image/*" @change="uploadImgHandle"/>
          </div>
        </group>
        <group class="top-dis region">
          <cell title="比对库" :value="regionText" is-link @click.native="openPopup"></cell>
        </group>
        <div v-transfer-dom>
          <popup v-model="showPopup" :should-rerender-on-show="true">
            <div class="self-popup region-popup">
              <div class="popup-header">
                <p class="cancel-btn" @click="closePopup(false)">取消</p>
                <p class="submit-btn" @click="closePopup(true)">确定</p>
              </div>
              <div class="checker-wrap">
                <checker
                  ref="checker"
                  v-model="selectRegion"
                  type="checkbox"
                  default-item-class="region-item"
                  selected-item-class="region-item-selected"
                  disabled-item-class="region-item-disabled">
                  <checker-item v-for="(rl, index) in regionList" :key="index" :value="rl.key">{{rl.value}}</checker-item>
                </checker>
              </div>
            </div>
          </popup>
        </div>
        <group class="top-dis base-info">
          <selector title="性别" v-model="selectSex" placeholder="请选择性别" direction="rtl" :options="sexList"></selector>
          <selector title="民族" v-model="selectRace" placeholder="请选择民族" direction="rtl" :options="raceList"></selector>
          <popup-picker title="出生年份" @on-hide="closePicker" cancel-text="清空" :data="dateTime" v-model="selectDate" placeholder="请选择出生年份"></popup-picker>
        </group>
        <group class="top-dis accuracy">
          <x-input placeholder="请输入姓名" v-model="reqData.search.searchName" :is-type="nameValid"></x-input>
          <x-input placeholder="请输入身份证号" v-model="reqData.search.searchCardnum" :is-type="cardNumValid"></x-input>
        </group>
        <div class="btn-box">
          <x-button type="primary" @click.native="queryPerson">查询</x-button>
        </div>
      </div>

      <div v-show="tabIndex === 1" class="tab-swiper-item history">
        <loading :loading="loading"></loading>
        <cell class="time-cell" :value="timeRangeText" is-link value-align="left" @click.native="openTimePopup"></cell>
        <div v-transfer-dom>
          <popup v-model="showTimePopup">
            <div class="self-popup time-popup">
              <div class="popup-header">
                <p class="cancel-btn" @click="closeTimePopup(false)">取消</p>
                <p class="submit-btn" @click="closeTimePopup(true)">确定</p>
              </div>
              <div class="popup-content">
                <tab bar-active-color="#5884D6" active-color="#5884D6" :line-width=1 v-model="timeTabIndex">
                  <tab-item selected>开始时间</tab-item>
                  <tab-item>结束时间</tab-item>
                </tab>
                <div class="time-tab-swiper" v-show="timeTabIndex === 0">
                  <datetime-view v-model="hisReqData.startTime" ref="beginTime" format="YYYY-MM-DD HH:mm"></datetime-view>
                </div>
                <div class="time-tab-swiper" v-show="timeTabIndex === 1">
                  <datetime-view v-model="hisReqData.endTime" ref="endTime" format="YYYY-MM-DD HH:mm"></datetime-view>
                </div>
              </div>
            </div>
          </popup>
        </div>
        <!-- 滚动组件 -->
        <scroll v-show="historyList"
                class="wrapper"
                ref="wrapper"
                :data="historyList">
          <ul class="content">
            <li>
              <!--历史记录列表-->
              <ul class="history-list">
                <li v-for="(item, index) in historyList" :key="index" class="history-list-item">
                  <div class="left pic-wrap">
                    <img :src="item.searchPhoto">
                    <div class="pic-name">上传照</div>
                  </div>
                  <div class="middle info-wrap">
                    <p class="main"><span class="count">{{ item.resultCnt }}</span>条反馈</p>
                    <p class="time">{{ item.createTime }}</p>
                  </div>
                  <div class="right">
                    <x-button mini @click.native="toDetailPage(item)">详情</x-button>
                  </div>
                </li>
              </ul>
              <div class="load-more" v-show="page" @click="loadMore(page+1)">点击加载</div>
              <div class="load-more" v-show="!page && historyList.length">没有更多了～</div>
              <!--无数据时显示-->
              <div class="no-data" v-show="!historyList.length">
                <img src="../../assets/images/image_no-data-1@2x.png">
                <p class="text">无历史记录</p>
              </div>
            </li>
          </ul>
        </scroll>
      </div>
    </div>
    <!-- 子路由 -->
    <router-view></router-view>
  </div>
</template>

<script type="text/ecmascript-6">
import Person from './Person.js'
export default Person
</script>

<style lang="less">
@import "../../assets/px2rem.less";
@import "./Person.less";
</style>
