<template>
  <div class="user">
    <div class="user-top">
      <div class="avatar">
        <!--<img src="">-->
      </div>
      <div class="username">{{userId}}</div>
      <!--<div class="login-time">最近一次登录：2018/08/02</div>-->
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import User from './User.js'
export default User
</script>

<style lang="less">
@import "../../assets/px2rem.less";
@import "./User.less";
</style>
