.user {
  .user-top {
    .px2rem(height, 337);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #fff url("../../assets/images/bg_user_center@2x.png") no-repeat left center;
    background-size: cover;
    .avatar {
      .px2rem(margin-top, 42);
      .px2rem(width, 164);
      .px2rem(height, 164);
      background: #fff url("../../assets/images/avatar@2x.png") no-repeat left center;
      background-size: cover;
      border-radius: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .username {
      .px2rem(margin-top, 50);
      .px2rem(font-size, 30);
      color: #333;
      text-align: center;
    }
    .login-time {
      .px2rem(margin-top, 25);
      .px2rem(font-size, 22);
      color: #7F8694;
      text-align: center;
    }
  }
}
