<template>
  <div class="person-survey child-page">
    <loading :loading="loading"></loading>
    <!-- :style="{backgroundColor: headerBg}"-->
    <div class="header" ref="header">
      <div class="back" @click="back"><img src="../../../../assets/icons/icon-return@2x.png" class="icon-back">人员信息</div>
    </div>
    <!-- 滚动组件 -->
    <!--@scroll="scrollHandle"-->
    <scroll v-show="dataList"
            class="wrapper clearfix"
            ref="wrapper"
            :probeType="3"
            :listenScroll="true"
            :pullup="pullup"
            :data="dataList">
      <div class="scroll-content">
        <div class="top" ref="top">
          <div class="condition">
            <div class="content">
              <div class="pic-wrap">
                <img :src="searchData.personPhoto">
              </div>
              <ul class="con-info">
                <li><span class="name">{{searchData.personName}}</span><span
                  class="sex">{{searchData.personSexName}}<span
                  v-show="searchData.personSexName&&searchData.personRaceName">/</span>{{searchData.personRaceName}}</span></li>
                <li>出生日期：{{searchData.personBirthday}}</li>
                <li>{{searchData.personCardnum}}</li>
                <li class="addr">地址：{{searchData.personAddress}}</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="bottom">
          <ul class="content">
            <li>
              <!--人像记录列表-->
              <ul class="result-list">
                <li v-for="(item, index) in dataList" :key="index" class="result-list-item">
                  <div class="type">[{{item.reginCodeName}}]</div>
                  <div class="item-content">
                    <div class="left pic-wrap">
                      <img :src="item.personPhoto">
                      <div class="pic-name">布控照</div>
                    </div>
                    <div class="middle info-wrap">
                      <ul>
                        <li><span class="name">布控联系人：</span><span class="value link-man">{{item.personLinkman}}</span></li>
                        <li><span class="name">布控单位：</span><span class="value len-400">{{item.personOrgname}}</span></li>
                        <li><span class="name">联系电话：</span><span class="value len-400">{{item.personLinkphone}}</span></li>
                        <li><span class="name">布控原因：</span><span class="value len-400">{{item.memo}}</span></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <div class="load-more" @click="loadMore(page + 1)" v-show="page">点击加载</div>
                <div class="load-more" v-show="!page && dataList.length">没有更多了～</div>
                <!--无数据时显示-->
                <div class="no-data" v-show="!dataList.length">
                  <img src="../../../../assets/images/image_no-data-2@2x.png">
                  <p class="text">未查到信息</p>
                </div>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </scroll>
  </div>
</template>

<script type="text/ecmascript-6">
import PersonSurvey from './PersonSurvey.js'
export default PersonSurvey
</script>

<style lang="less">
@import "../../../../assets/px2rem.less";
@import "../../Public.less";
@import "./PersonSurvey.less";
</style>
