<template>
  <div class="loading" v-show="loading">
    <div class="close" @click="closeHandle">关闭</div>
    <div class="loading-img"></div>
    <div class="loading-text"></div>
  </div>
</template>

<script>
export default {
  name: 'loading',
  props: {
    loading: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    closeHandle () {
      this.loading = false
    }
  }
}
</script>

<style lang="less" rel="stylesheet/less">
@import "../../assets/px2rem";
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 99999;
  .close {
    color: #fff;
    position: absolute;
    .px2rem(top, 40);
    .px2rem(right, 40);
    .px2rem(font-size, 30)
  }
  .loading-img {
    position: absolute;
    top: 50%;
    left: 50%;
    .px2rem(margin-top, -75);
    .px2rem(margin-left, -75);
    .px2rem(width, 150);
    .px2rem(height, 150);
    background: url("../../assets/loading.gif") no-repeat left center;
    background-size: cover;
  }
}
</style>
