.child-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f5f9;
  z-index: 999;
  .header {
    position: fixed;
    width: 100%;
    .px2rem(height, 90);
    background-color: rgba(95, 140, 214, 1);
    z-index: 999;
    color: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    .back {
      position: absolute;
      .px2rem(top, 30);
      .px2rem(left, 30);
      .px2rem(height, 36);
      .px2rem(line-height, 36);
      .px2rem(font-size, 28);
      .icon-back {
        vertical-align: top;
        .px2rem(width, 21);
        .px2rem(margin-right, 24);
        height: 100%;
      }
    }
  }
  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    .scroll-content {
      position: relative;
      .top {
        .px2rem(height, 340);
        color: #fff;
        background-color:  #5f8cd6;
        z-index: 998;
        .condition {
          position: absolute;
          .px2rem(top, 100);
          left: 0;
          .px2rem(padding-left, 30);
          .px2rem(padding-right, 30);
          .px2rem(padding-bottom, 20);
          width: 100%;
          .px2rem(height, 218);
          box-sizing: border-box;
          .bg {
            position: absolute;
            right: 0;
            .px2rem(bottom, 57);
            .px2rem(width, 290);
            .px2rem(height, 204);
            background-size: 100% 100%;
          }
          .content {
            //.px2rem(margin-top, 27);
            font-size: 0;
            .con-info {
              display: inline-block;
              .px2rem(width, 428);
              .px2rem(font-size, 24);
              vertical-align: top;
              li {
                .px2rem(line-height, 54);
                .sex {
                  display: inline-block;
                  .px2rem(width, 90);
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  vertical-align: top;
                }
                .race {
                  display: inline-block;
                  .px2rem(width, 168);
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  vertical-align: top;
                }
              }
            }
          }
        }
      }
      .bottom {
        .result-list {
          .px2rem(margin-top, -40);
          .px2rem(padding-left, 30);
          .px2rem(padding-right, 30);
          .px2rem(padding-bottom, 20);
          .result-list-item {
            position: relative;
            .px2rem(padding, 20);
            .px2rem(margin-bottom, 20);
            .px2rem(height, 216);
            .px2rem(border-radius, 8);
            font-weight: 400;
            background-color: #fff;
            box-sizing: border-box;
            .item-content {
              display: flex;
              flex-direction: row;
              box-sizing: border-box;
              .left {
                position: relative;
                .px2rem(width, 140);
                .px2rem(height, 176);
                border-radius: 4px;
                box-sizing: border-box;
                border: 1px solid #999;
                overflow: hidden;
                background: url("../../assets/images/default@2x.png") no-repeat center;
                background-size: cover;
                img {
                  width: 100%;
                  height: 100%;
                }
                .pic-name {
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 100%;
                  .px2rem(height, 36);
                  .px2rem(line-height, 36);
                  .px2rem(font-size, 22);
                  background-color: rgba(0, 0, 0, .4);
                  color: #fff;
                  text-align: center;
                }
              }
              .middle {
                .px2rem(margin-left, 45);
                ul {
                  .px2rem(margin-top, 10);
                  .px2rem(font-size, 24);
                  color: #7F8694;
                  li {
                    .px2rem(line-height, 50);
                    span {
                      display: inline-block;
                      &.name {
                        .px2rem(max-width, 210);
                        .px2rem(margin-right, 30);
                        .px2rem(font-size, 30);
                        color: #333;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                      }
                      &.sex {
                        .px2rem(max-width, 160);
                        .px2rem(font-size, 22);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                      }
                    }
                  }
                }
              }
              .right {
                position: absolute;
                top: 50%;
                .px2rem(right, 20);
                .px2rem(margin-top, -30);
                .px2rem(width, 60);
                .px2rem(height, 60);
                .vux-x-icon {
                  fill: #bbb;
                }
              }
            }
          }
          .load-more {
            .px2rem(margin-top, 20);
            .px2rem(line-height, 80);
            .px2rem(font-size, 22);
            color: #999;
            text-align: center;
          }
          .no-data {
            .px2rem(padding-top, 197);
            text-align: center;
            img {
              .px2rem(width, 216);
              .px2rem(height, 206);
            }
            .text {
              .px2rem(margin-top, 46);
              color: #999;
              font-weight: 400;
              .px2rem(font-size, 24);
            }
          }
        }
      }
    }
  }
}
