<template>
  <div class="search">
    <tab :line-width="3"
         custom-bar-width="45px"
         bar-active-color="#fff"
         default-color="#fff"
         active-color="#fff"
         v-model="tabIndex">
      <tab-item
        v-for="(tl, index) in tabList"
        :key="index"
        @on-item-click="tabClickHandle"
        :selected="tabIndex === index">{{tl.name}}</tab-item>
    </tab>
    <div class="tab-swiper">
      <!--人员信息-->
      <div v-show="tabIndex === 0" class="tab-swiper-item people">
        <group class="card-num">
          <x-input v-model="peopleParams.personCardnum" placeholder="请输入身份证号" :is-type="cardNumValid"></x-input>
        </group>
        <group title="高级查询" class="base-info">
          <selector title="性别" v-model="peopleParams.personSex" placeholder="请选择性别" direction="rtl" :options="sexList"></selector>
          <selector title="民族" v-model="peopleParams.personRace" placeholder="请选择民族" direction="rtl" :options="raceList"></selector>
        </group>
        <group title="出生年份范围" class="datetime">
          <datetime
            title="开始日期"
            :min-year="minYear"
            :clear-text="clearText"
            v-model="time.people.startTime"
            @on-clear="clearTime(0)"></datetime>
          <datetime
            title="结束日期"
            :min-year="minYear"
            :clear-text="clearText"
            v-model="time.people.endTime"
            @on-clear="clearTime(1)"></datetime>
        </group>
        <div class="btn-box">
          <x-button type="primary" @click.native="toInfoList('person-info')">查询</x-button>
        </div>
      </div>

      <!--布控信息-->
      <div v-show="tabIndex === 1" class="tab-swiper-item release">
        <group class="card-num">
          <x-input v-model="releaseParams.personCardnum" placeholder="请输入身份证号" :is-type="cardNumValid"></x-input>
        </group>
        <group title="高级查询" class="base-info">
          <selector title="性别" v-model="releaseTempParams.personSex" placeholder="请选择性别" direction="rtl" :options="sexList"></selector>
          <selector title="民族" v-model="releaseTempParams.personRace" placeholder="请选择民族" direction="rtl" :options="raceList"></selector>
          <selector title="人员类型" v-model="releaseTempParams.personRegioncode" placeholder="请选择人员类型" direction="rtl" :options="regionList"></selector>
        </group>
        <group title="出生年份范围" class="datetime">
          <datetime
            title="开始日期"
            :min-year="minYear"
            :clear-text="clearText"
            v-model="time.release.startTime"
            @on-clear="clearTime(0)"></datetime>
          <datetime
            title="结束日期"
            :min-year="minYear"
            :clear-text="clearText"
            v-model="time.release.endTime"
            @on-clear="clearTime(1)"></datetime>
        </group>
        <div class="btn-box">
          <x-button type="primary" @click.native="toInfoList('survey-info')">查询</x-button>
        </div>
      </div>

      <!--通行信息-->
      <div v-show="tabIndex === 2" class="tab-swiper-item pass">
        <group class="card-num">
          <x-input v-model="passParams.personCardnum" placeholder="请输入身份证号" :is-type="cardNumValid"></x-input>
        </group>
        <group title="高级查询" class="base-info">
          <selector title="查缉地点" v-model="passParams.passPlaceId" :value-map="['id', 'placeNameCn']" placeholder="请选择查缉地点" direction="rtl" :options="placeList"></selector>
        </group>
        <group title="通行时间" class="datetime">
          <datetime
            title="开始日期"
            :min-year="minYear"
            :clear-text="clearText"
            v-model="time.pass.startTime"
            @on-clear="clearTime(0)"></datetime>
          <datetime
            title="结束日期"
            :min-year="minYear"
            :clear-text="clearText"
            v-model="time.pass.endTime"
            @on-clear="clearTime(1)"></datetime>
        </group>
        <div class="btn-box">
          <x-button type="primary" @click.native="toInfoList('traffic-info')">查询</x-button>
        </div>
      </div>

      <!--比对信息-->
      <div v-show="tabIndex === 3" class="tab-swiper-item comparison">
        <group class="card-num">
          <x-input v-model="comparisonParams.personCardnum" placeholder="请输入身份证号" :is-type="cardNumValid"></x-input>
        </group>
        <group title="高级查询" class="base-info">
          <selector title="查缉地点" v-model="comparisonParams.passPlaceId" :value-map="['id', 'placeNameCn']" placeholder="请选择查缉地点" direction="rtl" :options="placeList"></selector>
          <selector title="比对类型" v-model="comparisonParams.verifyMode" @on-change="changeMode" placeholder="请选择比对类型" direction="rtl" :options="verifyList"></selector>
          <!--:disabled="isCardSearch"-->
          <x-input class="score"
                   :show-clear="false"
                   v-show="!isCardSearch"
                   @input.native="comparisonParams.verifyScore = $event.target.value"
                   v-model="comparisonParams.verifyScore"
                   type="tel"
                   title="比对分数 (≥)"
                   text-align="right"
                   :is-type="scoreValid"
                   placeholder="请输入比对分数"></x-input>
        </group>
        <group title="比对时间" class="datetime">
          <datetime
            title="开始日期"
            :min-year="minYear"
            :clear-text="clearText"
            v-model="time.comparison.startTime"
            @on-clear="clearTime(0)"></datetime>
          <datetime
            title="结束日期"
            :min-year="minYear"
            :clear-text="clearText"
            v-model="time.comparison.endTime"
            @on-clear="clearTime(1)"></datetime>
        </group>
        <div class="btn-box">
          <x-button type="primary" @click.native="toInfoList('comparison-info')">查询</x-button>
        </div>
      </div>
    </div>

    <!-- 结果列表路由 -->
    <router-view></router-view>
  </div>
</template>

<script type="text/ecmascript-6">
import Search from './Search.js'
export default Search
</script>

<style lang="less">
@import "../../assets/px2rem.less";
@import "./Search.less";
</style>
