.search {
  height: 100%;
  .vux-tab-wrap{
    .px2rem(padding-top, 90);
    .vux-tab-container{
      .px2rem(height, 90);
      .vux-tab {
        .px2rem(height, 90);
        background-color: #5884D6;
        .vux-tab-item {
          .px2rem(line-height, 90);
          .px2rem(font-size, 28);
          font-weight: 500;
          background: none;
        }
        .vux-tab-ink-bar {
          .px2rem(bottom, 6);
        }
      }
    }
  }
  .tab-swiper {
    margin-bottom: 52px;
    height: calc(100% - 1.2rem - 52px);
    overflow-y: auto;
    .tab-swiper-item {
      .weui-cells__title {
        font-size: 12px;
      }
      .card-num {
        .weui-cells {
          .px2rem(margin-top, 20);
        }
      }
      .base-info {
        .weui-cells__title {
          .px2rem(margin-top, 40);
          .px2rem(margin-bottom, 22);
        }
        .weui-label {
          color: #333;
        }
        .score {
          .weui-cell__bd {
            padding-right: 15px;
          }
        }
      }
      .datetime {
        .weui-cells__title {
          .px2rem(margin-top, 40);
          .px2rem(margin-bottom, 22);
        }
        .vux-datetime {
          color: #333;
        }
      }
      .btn-box {
        button {
          &.weui-btn {
            .px2rem(width, 616);
          }
        }
        .weui-btn_primary {
          background-color: #5884D6;
        }
      }
      &.people {
        .btn-box {
          .px2rem(margin-top, 223);
        }
      }
      &.release {
        .btn-box {
          .px2rem(margin-top, 133);
        }
      }
      &.pass {
        .btn-box {
          .px2rem(margin-top, 313);
        }
      }
      &.comparison {
        .btn-box {
          .px2rem(margin-top, 133);
        }
      }
    } }
  .vux-cell-value {
    color: black;
  }
}

.dp-header {
  .vux-datetime-clear {
    color: #5884D6!important;
  }
  .dp-item.dp-right {
    color: #5884D6!important;
  }
}

