.survey-info {
  .bg {
    background: url("../../../assets/images/bg_survey@2x.png") no-repeat left bottom;
  }
  .top .condition .content .con-info li {
    .px2rem(line-height, 46)!important;
    &.region {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-break: break-all;
    }
  }
}
