<template>
  <div id="app" ref="app">
    <router-view/>
    <tab-bar/>
    <loading/>
  </div>
</template>

<script>
import { TabBar, Loading } from 'components'
import { setStore } from './utils/storage'
export default {
  name: 'App',
  components: {
    TabBar,
    Loading
  },
  mounted () {
    setStore('tabIndex', 0)
    // let token = process.env.TOKEN
    // setStore('token', token)
  }
}
</script>

<style lang="less">
@import "~vux/src/styles/1px.less";
/*@import "./common/font/font.css";*/
@import "./assets/cssreset.css";
html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  /*font-family: "PFMedium";*/
  font-weight: 400;
}
#app {
  height: 100%;
  background-color: #f4f5f9;
}
</style>
