<template>
  <div class="survey-person child-page">
    <loading :loading="loading"></loading>
    <!-- :style="{backgroundColor: headerBg}"-->
    <div class="header" ref="header">
      <div class="back" @click="back"><img src="../../../../assets/icons/icon-return@2x.png" class="icon-back">布控信息</div>
    </div>
    <!-- 滚动组件 -->
    <!--@scroll="scrollHandle"-->
    <div class="wrapper clearfix">
      <div class="scroll-content">
        <div class="top" ref="top">
          <div class="condition">
            <div class="content">
              <div class="pic-wrap">
                <img :src="personData.personPhoto">
              </div>
              <ul class="con-info">
                <li><span class="name">{{personData.personName}}</span><span
                  class="sex">{{personData.personSexName}}<span
                  v-show="personData.personSexName&&personData.personRaceName">/</span>{{personData.personRaceName}}</span></li>
                <li>出生日期：{{personData.personBirthday}}</li>
                <li>{{personData.personCardnum}}</li>
                <li class="addr">地址：{{personData.personAddress}}</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="bottom">
          <ul class="content">
            <li>
              <!--人像记录列表-->
              <ul class="result-list">
                <li class="result-list-item">
                  <div class="type">[{{searchData.reginCodeName}}]</div>
                  <div class="item-content">
                    <div class="left pic-wrap">
                      <img :src="searchData.personPhoto">
                      <div class="pic-name">布控照</div>
                    </div>
                    <div class="middle info-wrap">
                      <ul>
                        <li><span class="name">布控联系人：</span><span class="value link-man">{{searchData.personLinkman}}</span></li>
                        <li><span class="name">布控单位：</span><span class="value len-400">{{searchData.personOrgname}}</span></li>
                        <li><span class="name">联系电话：</span><span class="value len-400">{{searchData.personLinkphone}}</span></li>
                        <li><span class="name">布控原因：</span><span class="value len-400">{{searchData.memo}}</span></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!--人员轨迹-->
      <div class="person-trail">
        <div class="title">人员轨迹</div>
        <scroll v-show="crossData"
                style="top: 1rem;"
                class="wrapper clearfix"
                ref="wrapper"
                :probeType="3"
                :listenScroll="true"
                :pullup="pullup"
                :data="crossData">
          <ul class="trail-list">
            <li class="trail-list-item clearfix" v-for="(item, index) in crossData" :key="index">
              <div class="left time">{{item.passTime}}</div>
              <div class="right device">
                <p class="area">{{item.placeName}}</p>
                <p class="name">{{item.face_terminal_name}}</p>
              </div>
            </li>
            <div class="load-more" @click="loadMore(page + 1)" v-show="page">点击加载</div>
            <div class="load-more" v-show="!page && crossData.length">没有更多了～</div>
            <!--无数据时显示-->
            <div class="no-data" v-show="!crossData.length">
              <img src="../../../../assets/images/image_no-data-3@2x.png">
              <p class="text">未查到信息</p>
            </div>
          </ul>
        </scroll>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import SurveyPerson from './SurveyPerson.js'
export default SurveyPerson
</script>

<style lang="less">
@import "../../../../assets/px2rem.less";
@import "../../Public.less";
@import "SurveyPerson.less";
</style>
