.survey-person {
  .wrapper {
    .top {
      .px2rem(height, 380)!important;
      .condition {
        .px2rem(height, 280)!important;
        .pic-wrap {
          display: inline-block;
          .px2rem(margin-right, 40);
          .px2rem(width, 164);
          .px2rem(height, 208);
          .px2rem(border-radius, 4);
          overflow: hidden;
          background: url("../../../../assets/images/default@2x.png") no-repeat left center;
          background-size: 100% 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .con-info {
          .px2rem(width, 480)!important;
          li {
            .px2rem(line-height, 50)!important;
            .name {
              display: inline-block;
              .px2rem(max-width, 240)!important;
              .px2rem(margin-right, 30);
              .px2rem(font-size, 30);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .sex {
              display: inline-block;
              .px2rem(max-width, 200)!important;
              .px2rem(font-size, 22);
              width: auto!important;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            &.addr {
              display: -webkit-box;
              overflow: hidden;
              // 最多显示两行文本，超出则显示省略号
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              word-break: break-all;
            }
          }
        }
      }
    }
    .bottom {
      .result-list {
        padding-left: 0!important;
        padding-right: 0!important;
        margin-top: 0!important;
        padding-bottom: 0!important;
        .result-list-item {
          .px2rem(height, 260)!important;
          margin-bottom: 1px!important;
          .type {
            .px2rem(margin-bottom, 20);
            color: #F76C18;
            .px2rem(font-size, 26);
          }
          .item-content {
            .middle {
              ul {
                li {
                  .px2rem(line-height, 34)!important;
                  span {
                    display: inline-block;
                    &.name {
                      margin-right: auto!important;
                      width: auto;
                      .px2rem(font-size, 24)!important;
                      color: #7F8694!important;
                      overflow: inherit!important;
                      vertical-align: top;
                    }
                    &.value {
                      text-align: left;
                      color: #333;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      &.link-man {
                        .px2rem(width, 355);
                      }
                      &.len-400 {
                        .px2rem(width, 380);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .person-trail {
      position: relative;
      height: calc(100% - 5.06666667rem - 3.46666667rem);
      .title {
        .px2rem(padding-left, 30);
        .px2rem(height, 75);
        .px2rem(line-height, 85);
        .px2rem(font-size, 24);
        color: #7F8694;
        background-color: #f4f5f9;
      }
      .trail-list {
        box-sizing: border-box;
        background-color: #fff;
        //height: calc(100% - 1rem);
        //overflow-y: auto;
        .trail-list-item {
          .px2rem(padding-left, 30);
          .px2rem(padding-right, 30);
          .px2rem(height, 88);
          .px2rem(font-size, 22);
          font-weight: 400;
          border-bottom: 1px solid #eee;
          color: #333;
          .left {
            float: left;
            width: 35%;
            &.time {
              height: 100%;
              .px2rem(line-height, 88);
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
          .right {
            float: right;
            width: 65%;
            &.device {
              height: 100%;
              .px2rem(line-height, 38);
              text-align: right;
              .area {
                .px2rem(height, 38);
                .px2rem(padding-top, 8);
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
              .name {
                .px2rem(font-size, 20);
                color: #999;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
        }
        .load-more {
          //.px2rem(margin-top, 20);
          .px2rem(height, 200);
          .px2rem(line-height, 120);
          .px2rem(font-size, 22);
          color: #999;
          text-align: center;
          background-color: #f4f5f9;
        }
        .no-data {
          .px2rem(padding-top, 197);
          text-align: center;
          background-color: #f4f5f9;
          img {
            .px2rem(width, 216);
            .px2rem(height, 206);
          }
          .text {
            .px2rem(margin-top, 46);
            color: #999;
            font-weight: 400;
            .px2rem(font-size, 24);
          }
        }
      }
    }
  }
}
